# Apple Crud
*.AppleDouble
.DS_Store

# Iterm2 prefs
com.googlecode.iterm2.plist

# Python crud
*.pyc

# Node crud
package.json
package-lock.json
*.lock.json
node_modules/*

# Emacs crud
*~
\#*\#
.\#*
*.elc
emacs.d/auto-save-list
emacs.d/elpa
emacs.d/elpy
emacs.d/el-get
emacs.d/ellama-sessions
emacs.d/.last-package-update-day
emacs.d/autosaves/
emacs.d/projectile-bookmarks.eld
emacs.d/recentf
emacs.d/SessionDesktop.el
emacs.d/transient/*
emacs.d/transient/history.el
emacs.d/tramp
emacs.d/eshell/history
emacs.d/eln-cache
emacs.d/projects
emacs.d/.org-id-locations

# Need to keep pymacs src/build around so pymacs works, but don't want to
# check it in
src
install-pymacs.sh
# Comes from a repo now
emacs.d/lisp/pymacs.el

# My crud
*.orig

*.zip
*.log

AppSupport
Brewfile
eln-cache

# Thuper Thecret Thtuff
.not-public
