*.AppleDouble
.DS_Store
*~
*.pyc
#.*#
.emacs.d/auto-save-list
emacs.d/elpa
emacs.d/el-get
# Need to keep pymacs src/build around so pymacs works, but don't want to
# check it in
src
install-pymacs.sh
emacs.d/lisp/pymacs.el # Comes from a repo now
