- name: Install stuff from install-these-scripts
  hosts: z
  become: true
  tasks:

  - name: Find all .sh files in the source directory
    find:
      paths: /home/gentry/Projects/vetscan-chem-instrument/scripts/install-these-scripts/
      patterns: "*.sh"
    register: shell_scripts
    delegate_to: localhost

  - name: Copy each .sh file to /usr/local/bin without the .sh extension
    copy:
      src: "{{ item.path }}"
      dest: "/usr/local/bin/{{ item.path | basename | regex_replace('.sh$', '') }}"
      mode: '0755'  # Set execute permissions
    loop: "{{ shell_scripts.files }}"
    delegate_to: "{{ inventory_hostname }}"

#  - name: Make way for msg.sh symlink
#    ansible.builtin.file:
#      path: /usr/local/bin/msg.sh
#      state: absent

  - name: Symlink msg to msg.sh
    ansible.builtin.file:
      dest: /usr/local/bin/msg.sh
      src: /usr/local/bin/msg
      state: link

- name: Remove Ubuntu Junk
  hosts: z
  tasks:
  - name: remove ubuntu motd spam
    become: true
    file:
      path: "/etc/update-motd.d/{{ item }}"
      state: absent
    loop:
      - 10-help-text
      - 50-motd-news
      - 80-livepatch
      - 85-fwupd
      - 88-esm-announce
      - 90-updates-available
      - 91-release-upgrade
      - 91-contract-ua-esm-status
      - 95-hwe-eol
    when: ansible_distribution == 'Ubuntu'

- name: Check Disk Space
  hosts: z
  tasks:
  - set_fact:
      disk_limit: 0.95  # 5% free

  - set_fact:
      real_mounts: >-
        {{
          ansible_mounts
          | selectattr('device', 'defined')
          | selectattr('device', 'match', '^/dev/')
          | rejectattr('fstype', 'in', [
              'tmpfs','devtmpfs','proc','sysfs','cgroup','overlay',
              'squashfs','efivarfs','rpc_pipefs','securityfs','debugfs','nsfs','fuseblk'
            ])
          | rejectattr('fstype', 'in', ['nfs','nfs4','cifs'])
          | list
        }}

  - name: Enforce usage limit on local disks (with block-size fallback)
    loop: "{{ real_mounts }}"
    loop_control:
      label: "{{ item.device }} on {{ item.mount }}"
    vars:
      total_bytes: >-
        {{
          (item.get('size_total') is not none)
          | ternary(
              (item.get('size_total') | int),
              ((item.get('block_total', 0) | int) * (item.get('block_size', 4096) | int))
            )
        }}
      avail_bytes: >-
        {{
          (item.get('size_available') is not none)
          | ternary(
              (item.get('size_available') | int),
              ((item.get('block_available', 0) | int) * (item.get('block_size', 4096) | int))
            )
        }}
      used_ratio: >-
        {{
          ((total_bytes | float) - (avail_bytes | float)) /
          (total_bytes | float if (total_bytes | int) > 0 else 1.0)
        }}
    assert:
      that:
        - (total_bytes | int) > 0
        - (used_ratio | float) < (disk_limit | float)
      msg: >-
        Disk {{ item.device }} on {{ item.mount }}
        usage {{ "%0.2f" | format(used_ratio | float * 100.0) }}%
        exceeds {{ "%0.2f" | format(disk_limit | float * 100.0) }}%
    when: (total_bytes | int) > 0
    any_errors_fatal: false
    tags: disk


    # - name: We have at least 500 MB
    #   assert:
    #     that: real_mounts.size_available > 500000000
    #     msg: "Available disk space {{ real_mounts.size_available }} < 500 MB"
    #   tags: disk
    #   any_errors_fatal: false

    # - name: indicate disks okay to statuscake
    #   local_action: command /usr/bin/wget 'https://push.statuscake.com/?PK=abcdefghi&TestID=123456&time=0'
    #   run_once: true

- name: Bulk Upgrayyed
  hosts: z
  # strategy: free
  become: yes
  become_user: root
  tasks:

  - name: apt-get autoremove equivalent
    apt:
      autoremove: yes
      autoclean: yes

  # - name: Ensure jammy update main
  #   apt_repository:
  #     repo: deb http://us.archive.ubuntu.com/ubuntu/ jammy-updates restricted main
  #     state: present
  # - name: Ensure jammy update universe
  #   apt_repository:
  #     repo: deb http://us.archive.ubuntu.com/ubuntu/ jammy-updates universe
  #     state: present
  # - name: Ensure jammy update multiverse
  #   apt_repository:
  #     repo: deb http://us.archive.ubuntu.com/ubuntu/ jammy-updates multiverse
  #     state: present

  # - name: Add modern python repo
  #   apt_repository:
  #     validate_certs: no
  #     repo: 'ppa:deadsnakes/ppa'
  #     state: present

  # - name: Update and make sure python3.10 is installed
  #   apt:
  #     update_cache: yes
  #     name:
  #       - python3.10
  #       - python3.10-venv

  # This is slightly out-of-date as of July 2025
  - name: Ensure packages from setup-builder.sh are installed
    apt:
      pkg:
        - git
        # - python3.10
        # - python3.10-venv
        - python3-pip
        - python3-all-dev
        - python3-pexpect
        - apt-file
        - bmon
        - htop
        - iotop
        - net-tools
        - geany
        - openssh-server
        - sysstat
        - inotify-tools
        - ansible
        - expect
        - nmap
        - silversearcher-ag
        - grc
        - curl
        - figlet
        - lolcat
        - et
        - tmux
        - jq
        - rapidjson-dev
        - doxygen
        - graphviz
        - gawk
        - wget
        - git
        - diffstat
        - unzip
        - texinfo
        - gcc
        - build-essential
        - chrpath
        - socat
        - cpio
        - xz-utils
        - debianutils
        - iputils-ping
        - xterm
        - zstd
        - python3-git
        - python3-jinja2
        - python3-subunit
        - libegl1-mesa
        - libsdl1.2-dev
        - xterm
        - mesa-common-dev
        - software-properties-common
        - libsystemd-dev
        - libglib2.0-dev
        - libexpat1-dev
        - rapidjson-dev
        - libftdi1
        - libftdi-dev
        - libusb-dev
        - tigervnc-standalone-server
        - tigervnc-xorg-extension
        - x11vnc

  - name: Upgrade
    apt:
      upgrade: full

  - name: apt-get autoremove equivalent
    apt:
      autoremove: yes
      autoclean: yes

  # - name: Purge residual kernel packages
  #    shell: apt-get remove -y --purge $(dpkg -l | grep "^rc\s*linux-image-" | awk '{print $2}' | tr '\-n' ' ')
  #   register: apt_result
  #   changed_when: "'packages will be REMOVED' in apt_result.stdout"

- name: Update my dotfiles everywhere
  hosts: z
  tasks:

  - name: Fetch the ansible stuff plus dotfiles
    shell: cd myDotfiles && GIT_SSH_COMMAND="ssh -i ~/.ssh/id_ed25519_github" git pull
    async: 45
    poll: 5
    register: pull_result
    changed_when: pull_result.stdout is not search('Already up to date.')
    tags:
      - fetchstuff

  - debug:
      var: pull_result

- name: Update emacs packages everywhere
  hosts: z
  tasks:

  - name: Update emacs
    shell: emacs --batch -l ~/.emacs.d/init.el -f auto-package-update-now
    register: run_result
    changed_when: run_result.stdout is search('Parsing tar file')

  - debug:
      var: run_result
